/*:root {*/
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pt-80{
    padding-top: 80px;
}

.pt-40{
    padding-top: 40px;
}

.px-20{
    margin-left: 20px;
    margin-right: 20px;
}

.mt-10{
    margin-top: 10px;
}

.mt-100{
    margin-top: 100px;
}

.ml-4{
    margin-left: 4px;
}

.ml-16{
    margin-left: 16px;
}

.mr-1{
    margin-right: 1px;
}

.mr-2{
    margin-right: 2px;
}

.mr-3{
    margin-right: 3px;
}

.mr-4{
    margin-right: 4px;
}

.mr-5{
    margin-right: 5px;
}

.mr-10{
    margin-right: 10px;
}

.mr-16{
    margin-right: 16px;
}

.w-10{
    width: 10%;
}

.max-w-85{
    max-width: 85% !important;
}

.min-w-85{
    min-width: 85% !important;
}

.text-align-left{
    text-align: left !important;
}

.text-align-right{
    text-align: right !important;
}

.font-weight-600{
    font-weight: 600 !important;
}

.bold{
    font-weight: bold;
}

.color-dsg{
    color: darkslategray;
}

.color-lsg{
    color: lightslategray;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.font-0-8rem{
    font-size: 0.8rem !important;
}

.font-1rem{
    font-size: 1rem !important;
}

.font-1-2rem{
    font-size: 1.2rem !important;
}

.font-1-4rem{
    font-size: 1.4rem !important;
}

.font-1-6rem{
    font-size: 1.6rem !important;
}

.font-1-8rem{
    font-size: 1.8rem !important;
}

.font-2rem{
    font-size: 2rem !important;
}

.cursor-pointer{
    cursor: pointer;
}

.b-radius-5{
    border-radius: 5px; !important;
}